
* {
    font: Helvetica, Georgia;
     box-sizing: border-box;
}

html, body {
    margin: 0px;
    padding: 0px;
}

body {
  background: #AADAE8;
}

.nav-item {
    margin: 2em;
    font-size: 1.2em;
    color: white;
}

.navigation {
    width: 100%;
    margin: 0;
    height: 100%;
}

.collapse {
    background: #6a6a6a;
    color: white;
}

.navigation a {
    color: white !important;
}

nav {
    background-color: green;
}
.topOfPage {
    background-color: white;
    color: white;
    text-align: center;
    color: #6a6a6a;
    font: cursive, Arial, sans-serif;
}

.topOfPage h1{
    padding-bottom: 10px;
    padding-top: 36px;
    font-size: 2em;
}

.row {
    text-align: center;
}

.col-sm-5 {
    margin: 10px;
/*    padding: 120px 80px;*/
}

.left {
        color: #6a6a6a;
}

.right, .left{
    background-color: white;
    color: #6a6a6a;
    text-align: left;
}

.filler {
    color: white;
}

.col-sm-5 h2{
    color: black;
}
.left a {
    text-decoration: none;
    
   background-color: #6a6a6a;
    color: white;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #6a6a6a;
    border-radius: 5px;  
}



.right a {
    text-decoration: none;
    background-color: #6a6a6a;
 
    color: white;
    font-size: 20px;
    
    padding-left: 10px;
    padding-right: 10px;
   
    
    border: 1px solid #6a6a6a;
    
    border-radius: 5px;
    
}

.left a:hover {
    color: #AADAE8;
}

.right a:hover {
    color: #AADAE8;
}

.extraspace {
    color: #AADAE8;
}
 

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #6a6a6a;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
}

.footer a {
    text-decoration: none;
    color: white;
    
}

.footer a:hover {
    color: #AADAE8;
}


.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 43%;
    margin-top: 20px;
    margin-bottom: 15px;
}



.topOfPage p {
    margin: 0.8px;
    font-size: 1em;
}

#bottomA {
    font-size: 1.3em;
    padding-top: 20px;
    padding-bottom: 20px;
    
}







